button.dt-button.buttons-excel.buttons-html5,
button.dt-button.buttons-csv.buttons-html5,
button.dt-button.buttons-pdf.buttons-html5,
button.dt-button.buttons-print,
button.dt-button.buttons-copy.buttons-html5 {
    padding: 2px !important;
    font-size: 12px !important;
    background: #c4befd !important;

  }

.custom {

    background-color: #5B5C69 !important;
  }
  a#data-table_next,
  a#data-table_previous,
  div#data-table_info,
  .dataTables_wrapper .dataTables_length select,
  div#data-table_length{
    color: white !important;
  }
  .dataTables_wrapper .dataTables_filter input{
    background-color: white !important;
  }
  nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow,
  div#content {
    background: #fdfdfd;
}

body{
    font-family: monospace !important;
    font-size: 13px !important;
}